@media (max-width: 900px) {
	header {
		.container {
			padding: 20px 15px;
		}

		h1 {
			max-width: 25%;
		}

		.header--livestream {
			margin: 0 50px;
			max-width: 25%;
		}
		
		.menuHolder{
			max-width: 54%;
			margin: 30px 0;
		    white-space: nowrap;
		}

		#menu-header-menu li.menu-item {
			font-size: 16px;
		}

	}// end header



} // end @900px

@media (max-width: 705px) {
	header {

		.header--livestream {
			position: absolute;
			left: 50%;
			margin: 0 auto;
		}

		.menu__dropper {
			display: inline-block;
		    font-size: 70px;
		    margin: 0 auto;
		    position: absolute;
		    top: 0px;
		    right: 20px;
		    cursor: pointer;
		}

		.menuHolder {
			display: none;
			padding-top: 30px;
			margin: 0 auto;
			width: 100%;
		    text-align: center;
		    max-width: 100%;
		}
		
	} // end header

	.mnLft__image {
		display: none;
	}

} // end @705px

@media (max-width: 420px) {
	header {
		h1 {
			font-size: 36px;
		}

		.header--livestream {
			line-height: 20px;
		    height: inherit;
		    padding: 8px;
	        top: 15px;	

			a {
				font-size: 18px;
			}
		}

		.menu__dropper {
			top: -15px;
		}
	}

} // end @420px