.footer-container {
	margin: 0 auto;	
	text-align: center;
}

.tombstone {
	position: relative;
	display: inline-block;	
	text-align: center;	
	font-size: 0;
	bottom: -4px;
}

.upperTombstone {
	border-radius: 50%;
	width: 200px;
	height: 90px;
	background: grey;
	// box-shadow: 3px -4px 1px #D0D2E8;
	margin: 0 auto;
	position: relative;
	top: 65px;
	z-index: -10;
	font-size: 1rem;
}



.lowerTombstone {
	height: 150px;
	width: 250px;
	background: grey;
	border-radius: 5px 5px 0px 0px;
	overflow: hidden;
	position: relative;
	font-size: 1rem;
	// box-shadow: 3px -4px 1px #D0D2E8;


	.name {
		border: 2px solid black;
		display: inline-block;
		padding: 3px 50px;
		margin-top: 20px;
		overflow: hidden;
		color: black;
		text-shadow: 1px 1px 1px #D0D2E8;
		box-shadow: 1px 1px 1px #D0D2E8;


		p {
			margin: 0;
			font-family: 'Kite One', sans-serif;	
			font-size: 2.2rem;		
		}

		p:nth-child(2) {
			font-size: 0.8rem;
		}
	} // end name

	p {
		margin: 0;
		text-shadow: 1px 1px 1px #D0D2E8;
	}
} // end lowerTombstone



/* =============================================================================

background: -moz-linear-gradient(-45deg,  #4c4c4c 0%, #595959 12%, #b48890 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #9f777d 60%, #5a4c50 76%, #8c5d66 91%, #734647 100%); 
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#b48890), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#9f777d), color-stop(76%,#5a4c50), color-stop(91%,#8c5d66), color-stop(100%,#734647));
background: -webkit-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#b48890 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#9f777d 60%,#5a4c50 76%,#8c5d66 91%,#734647 100%); 
background: -o-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#b48890 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#9f777d 60%,#5a4c50 76%,#8c5d66 91%,#734647 100%); 
background: -ms-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#b48890 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#9f777d 60%,#5a4c50 76%,#8c5d66 91%,#734647 100%); 
background: linear-gradient(135deg,  #4c4c4c 0%,#595959 12%,#b48890 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#9f777d 60%,#5a4c50 76%,#8c5d66 91%,#734647 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#734647',GradientType=1 );

   ========================================================================== */